build/
out/
env.mk
vendor/spike/build/
vendor/spike/install/
dv/uvm/riscv_compliance/work/
*.log
*.fsdb
*.fss
*.vdb
*.so
*.elf
*.hex
*.dis
simv*
*.daidir/
INCA_libs/
cov_work/
csrc/
__pycache__/
*.pyc
.scratch/
*.key
*.lck
verdiLog/
novas_*
