build/
out/
env.mk
vendor/spike/build/
vendor/spike/install/
vendor/whisper/build-*/
vendor/whisper/**/*.o
dv/uvm/riscv_compliance/work/
*.log
*.fsdb
*.fss
*.vdb
*.so
*.elf
*.hex
*.dis
simv*
*.daidir/
INCA_libs/
cov_work/
csrc/
__pycache__/
*.pyc
.scratch/
*.key
*.lck
/tr_db.log
/ucli.key
/issfinal.log
verdiLog/
novas_*
novas.conf
novas.rc
.simvision/
waves.shm/
*.vpd
